.keypad-button {
    display: flex;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Neue OTS";
    font-size: 1.1em;
    color: #ffffff;
    
    &:hover{
      cursor: pointer;
    }
  }

  .light-grey-button {
    background: #a6a6a7;
  }

  .grey-button {
    background: #303030;
  }

  .orange-button {
    background: #ff9b03;
  }

  .zero-button-size {
    margin-right: 10px;
    width: 100px;
    padding-left: 18px;
    background: #303030;
    border-radius: 25px;
    justify-content: left;
  }